@model lab_5.Models.Book;

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Edycja książki</h2>
<div>
    <form asp-action="Create" method="post">
        <div class="mb-3">
            <label asp-for="Title"></label>
            <input class="form-control" asp-for="Title"/>
            <span asp-validation-for="Title"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ReleaseDate"></label>
            <input class="form-control" asp-for="ReleaseDate"/>
            <span asp-validation-for="ReleaseDate"></span>
        </div>
        <div class="mb-3">
            <button class ="btn btn-primary" type="submit">Zapisz zmiany</button>
        </div>
    </form>
</div>
